{# Event log displayed in a table. #}

<table class="logs">
  {% for log in logs %}
  <tr>
    <td>
      <a href="{{ reverse_url('api_doc', log['_id']) }}" class="localtime">
	{{ log['timestamp'] }}
      </a>
    </td>
    <td>{{ log.get('operator') or '-' }}</td>
  </tr>
  <tr>
    <td colspan="2">
      <i>Changed:</i>
      {{ ', '.join(log.get('changed', dict()).keys()) or '-' }}
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <i>Deleted:</i>
      {{ ', '.join(log.get('deleted', dict()).keys()) or '-' }}
    </td>
  </tr>
  {% end %}
</table>
