{# Service edit page. #}

{% extends "base.html" %}

{% block head_title %}
Edit Service
{% end %}

{% block title %}
{% module Icon('edit', label=True) %}
{% module Icon('service', label=True) %}
{% end %}

{% block actions %}
<form action="{{ reverse_url('service', service['name']) }}">
  {% module Submit('cancel') %}
</form>
{% end %}

{% block content %}

<form action="{{ reverse_url('service_edit', service['name']) }}"
      method="POST">
  {% module xsrf_form_html() %}

  <fieldset>

    <legend>Edit service information</legend>

    <table class="fields">
      <tr>
	<th>Name</th>
	<td>{% module Icon('mandatory') %}</td>
	<td><input type="text" name="name" value="{{ service['name'] }}"></td>
	<td class="description">
	  The unique name of the service.
	</td>
      </tr>

      <tr>
	<th>Description</th>
	<td></td>
	<td>
	  <textarea name="description">
	    {{ service.get('description') or '' }}
	  </textarea>
	</td>
	<td class="description">
	  A brief description of the service.
	</td>
      </tr>

      <tr>
	<th>URL</th>
	<td>{% module Icon('mandatory') %}</td>
	<td>
	  <input type="url" size="40" name="href" value="{{ service['href'] }}">
	</td>
	<td class="description">
	  The URL of the home page of the service.
	</td>
      </tr>

      <tr>
	<th>Status</th>
	<td>{% module Icon('mandatory') %}</td>
	<td>
	  {% for status in [constants.ACTIVE, constants.BLOCKED] %}
	  {% set checked = service['status'] == status and 'checked' or '' %}
	  <input type="radio" name="status" value="{{ status }}" {{ checked }}>
	  {% module Icon(status, label=True) %}
	  {% end %}
	</td>
	<td class="description">
	  The status of the service.
	</td>
      </tr>

      <tr>
	<th>Access</th>
	<td>{% module Icon('mandatory') %}</td>
	<td>
	  {% set checked = service.get('public') and 'checked' or '' %}
	  <input type="radio" name="public" value="true" {{ checked }}>
	  {% module Icon('public', label=True) %}
	  {% set checked = not service.get('public') and 'checked' or '' %}
	  <input type="radio" name="public" value="false" {{ checked }}>
	  {% module Icon('private', label=True) %}
	</td>
	<td class="description">
	  The access of the service. Public means that anyone can access it.
	  Private means that only members of the team with the same name as
	  the service are allowed to access it.
	</td>
      </tr>

      <tr>
	<th></th>
	<td></td>
	<td>
	  {% module Submit('save') %}
	</td>
      </tr>

    </table>

  </fieldset>

</form>

{% end %}
