{# User create page. #}

{% extends "base.html" %}

{% block head_title %}
Create User
{% end %}

{% block title %}
{% module Icon('create', label=True) %}
{% module Icon('user', label=True) %}
{% end %}

{% block content %}

<form action="{{ reverse_url('user_create') }}"
      method="POST">
  {% module xsrf_form_html() %}

  <fieldset>

    <legend>Create a new account</legend>

    <table class="fields">
      <tr>
	<th>Email</th>
	<td>{% module Icon('mandatory') %}</td>
	<td><input type="email" name="email" size="40"></td>
	<td class="description">
	  The email address is unique identifier for the account.
	  It must be a valid institutional email address.
	  Gmail, Yahoo and similar email addresses may cause the sysadmin
	  to decline the account.
	</td>
      </tr>

      <tr>
	<th>Username</th>
	<td></td>
	<td><input type="text" name="username" size="20"></td>
	<td class="description">
	  The username is an optional additional identifier for the account.
	  It is available mostly for backwards compatibility reasons.
	</td>
      </tr>

      <tr>
	<th>Full name</th>
	<td>{% module Icon('mandatory') %}</td>
	<td><input type="text" name="fullname" size="40"></td>
	<td class="description">
	  In the form "Jane U Doe".
	</td>
      </tr>

      <tr>
	<th>University</th>
	<td></td>
	<td><input type="text" name="university" size="40"></td>
	<td class="description">
	  Your main affiliation: University, college, school, company,
	  self-employed, etc.
	</td>
      </tr>

      <tr>
	<th>Department</th>
	<td></td>
	<td><input type="text" name="department" size="40"></td>
	<td class="description">
	  Your department or section of the university or company.
	</td>
      </tr>

      <tr>
	<th>Country</th>
	<td>{% module Icon('mandatory') %}</td>
	<td>
	  <select name="country">
	    {% for country in countries %}
	    {% if country == 'Sweden' %}
	    <option selected>{{ country }}</option>
	    {% else %}
	    <option>{{ country }}</option>
	    {% end %}
	    {% end %}
	  </select>
	</td>
	<td class="description">
	</td>
      </tr>

      <tr>
	<th></th>
	<td></td>
	<td>
	  {% module Submit('create') %}
	</td>
      </tr>

    </table>

  </fieldset>

</form>

<h3>NOTE: New accounts are subject to system administrator approval!</h3>
<p>
  When you have submitted this form, the Userman system administrator will
  review the account, and approve it if the information appears legitimate.
</p>
<p>
  This may take some time, depending on the workload of the administrator.
</p>

{% end %}
