{# User create page. #}

{% extends "base.html" %}

{% block head_title %}
Create User
{% end %}

{% block title %}
{% module Icon('create', label=True) %}
{% module Icon('user', label=True) %}
{% end %}

{% block content %}

<h3>How a new account is created:</h3>
<ol>
<li> Fill in the required data below.
<li> Submit by pressing the button {% module Icon('create') %} Create.
<li> The administrator who will approve or reject your application.
  Please allow two (2) working days.
<li> If your request is approved, you will get an email with an
  activation code. Follow its instructions.
<li> If your request is rejected, nothing will happen.
</ol>

<form action="{{ reverse_url('user_create') }}"
      method="POST">
  {% module xsrf_form_html() %}

  <fieldset>

    <legend>Create a new account</legend>

    <table class="fields">
      <tr>
	<th>Email</th>
	<td>{% module Icon('mandatory') %}</td>
	<td><input type="email" name="email" size="40"></td>
	<td class="description">
	  The email address is unique identifier for the account.
	  It must be a valid institutional email address.
	  Gmail, Yahoo and similar email addresses may be refused.
	</td>
      </tr>

      <tr>
	<th>Username</th>
	<td></td>
	<td><input type="text" name="username" size="20"></td>
	<td class="description">
	  The username is an optional additional identifier for the account.
	  It is available mostly for backwards compatibility reasons.
	</td>
      </tr>

      <tr>
	<th>Full name</th>
	<td>{% module Icon('mandatory') %}</td>
	<td><input type="text" name="fullname" size="40"></td>
	<td class="description">
	  In the form "Jane U Doe".
	</td>
      </tr>

      <tr>
	<th>University</th>
	<td></td>
	<td><input type="text" name="university" size="40"></td>
	<td class="description">
	  Your main affiliation: University, college, school, company, etc.
	</td>
      </tr>

      <tr>
	<th>Department</th>
	<td></td>
	<td><input type="text" name="department" size="40"></td>
	<td class="description">
	  Your department or section of the university or company.
	</td>
      </tr>

      <tr>
	<th>Country</th>
	<td>{% module Icon('mandatory') %}</td>
	<td>
	  <select name="country">
	    {% for country in countries %}
	    {% if country == 'Sweden' %}
	    <option selected>{{ country }}</option>
	    {% else %}
	    <option>{{ country }}</option>
	    {% end %}
	    {% end %}
	  </select>
	</td>
	<td class="description">
	</td>
      </tr>

      <tr>
	<th></th>
	<td></td>
	<td>
	  {% module Submit('create') %}
	</td>
      </tr>

    </table>

  </fieldset>

</form>

{% end %}
